TZ=America/Chicago
PUID=1000
PGID=1000
FITLET_IP=10.77.0.10
WEBUI_PORT=8080
TORRENTING_PORT=49152
CONFIG_DIR=/srv/qbittorrent/config
DOWNLOADS_DIR=/srv/downloads
PROJECT_DIR=/opt/fitlet-torrent-box
QBITTORRENT_IMAGE=lscr.io/linuxserver/qbittorrent:latest
PUBLIC_IP_CHECK_URL=https://ifconfig.me
EXPECTED_DNS=10.77.0.1
EXPECTED_GATEWAY=10.77.0.1
EXPECTED_NTP=10.77.0.1
EXPECTED_SUBNET=10.77.0.0/24
LAN_TEST_TARGET=192.168.1.254
BACKUP_DIR=/var/backups/fitlet-torrent-box