[MAIN]
jobs=0
persistent=no

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-few-public-methods

[FORMAT]
max-line-length=120
