[Unit]
Description=Run Fitlet torrent box health check every 30 minutes

[Timer]
OnBootSec=5m
OnUnitActiveSec=30m
Unit=fitlet-healthcheck.service

[Install]
WantedBy=timers.target