[Unit]
Description=Check Fitlet service box images and log current status
Wants=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/fitlet-service-box
ExecStart=/usr/bin/docker compose -f /opt/fitlet-service-box/docker-compose.yml images
