[Unit]
Description=Fitlet service box health check
Wants=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=/opt/fitlet-service-box
ExecStart=/opt/fitlet-service-box/scripts/healthcheck.sh
