[Unit]
Description=Log Fitlet service box image status daily

[Timer]
OnBootSec=15m
OnCalendar=daily
Unit=fitlet-update-notify.service

[Install]
WantedBy=timers.target
