[Unit]
Description=Fitlet service box health check
Wants=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=__PROJECT_DIR__
ExecStart=__PROJECT_DIR__/scripts/healthcheck.sh
