[Unit]
Description=Check Fitlet service box images and log current status
Wants=docker.service
After=docker.service network-online.target

[Service]
Type=oneshot
WorkingDirectory=__PROJECT_DIR__
ExecStart=/usr/bin/docker compose -f __PROJECT_DIR__/docker-compose.yml images
